[tool.black]
line-length = 88

[tool.ruff]
line-length = 88
target-version = "py313"

[tool.ruff.lint]
select = ["E", "F", "I"]
ignore = ["E501"]

[tool.mypy]
strict = true
ignore_missing_imports = true

[project]
name = "resume-maker"
version = "0.1.0"
requires-python = ">=3.13"